//MESSAGE TAG CSS
.chat-box {
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  padding: 10px;
  height: 100%;
  padding-bottom: 70px;
}

ion-button#msg {
  max-width: 60%;
  overflow: visible;
  white-space: unset;
  text-transform: initial;
  
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --background: transparent;
  --color: inherit;
  --padding-start: 0.75rem;
  --padding-end: 0.75rem;
  --padding-top: 0.75rem;
  --padding-bottom: 0.75rem;
  --ripple-color: transparent;
}

ion-button.outgoing {
  float: right;
  text-align: right;
  background-color: #020181;
  color: #FFF;
  font-weight: 600;
  font-size: 1rem;
  border-top-right-radius: 0;
}

ion-button.incoming {
  float: left;
  text-align: left;
  background-color: #5569F6;
  font-size: 1rem;
  font-weight: 600;
  color: #FFF;
  border-top-left-radius: 0;
}

//SENDER AREA CSS
.sender-area {
  background-color: #020181;
  color: #FFF;
  width: 100%;
  height: 70px;

  display: flex;
  border-radius: 8px;
}

.input-place {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  justify-content: space-around;
  background-color: #5569F6;
  height: 70px;
  width: 100%;
  gap: 5px;
  border: 1px solid #2e2f3a;
  font-size: 1.25rem;
  input{
    background-color: #020181;
    padding: 0.5rem;
    color: #FFF;
    border: none;
    width: 18rem;
    height: 3.5rem;
    font-size: 1.25rem;
    border-radius: 8px;
  }
}

.message {
  width: 100%;
  height: 40px;
}

.message.one,
.message.three,
.message.five {
  background-color: #2e2f3a;
}

.message.two,
.message.four,
.message.six {
  background-color: #343541;
}

.send-img {
  width: 30px;
}

.send-input {
  outline: none;
  display: flex;
  border: none;
  background: none;
  height: 40px;
  width: 230px;
  border-radius: 7px;
  background: none;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  // margin-left: 1.5rem;
}

.send-input::placeholder {
  color: #828e9e;
}

.send {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.send-icon {
  width: 17px;
  margin: 0;
}
