<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home/chatList" (click)="resetRooms()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ chatService.chatOpened == "000" ? "ADMIN" : "BROADCAST" }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="chat-box">
    <div
      class="chat-message"
      [ngClass]="{
        outgoing: message.IdMittente !== idAdmin,
        incoming: message.IdMittente === idAdmin
      }"
      *ngFor="let message of chatService.currentChat"
    >
      <div class="message" [attr.testo]="message.Testo">
        <div *ngIf="message.IdMessaggioRisposta">
          <div class="answeredMessage">
            {{ findMessageById(message) }}
          </div>
        </div>
        <ion-button id="msg" (click)="checkAnswer(message)">{{
          message.Testo
        }}</ion-button>
        </div>
      </div>
  </div>
  <div *ngIf="chatService.chatOpened != '999'" class="input-place">
    <div *ngIf="answerToTextMessage.Boolean" class="answer">
      <ion-button
        (click)="answerToTextMessage = { Boolean: false, Message: '', Id: 0 }"
        color="danger"
      >
        <ion-icon name="close"></ion-icon>
      </ion-button>

      <div class="answer-text">
        <ion-label>Rispondi a: <br><span>{{ answerToTextMessage.Message }}</span> </ion-label>
      </div>
    </div>

    <input
      placeholder="Invia un messaggio..."
      class="send-input"
      type="text"
      [(ngModel)]="textToSend"
    />
    <div class="send">
      <ion-button (click)="sendMessage()" class="button-del">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>