<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home/chatList"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ chatService.chatOpened == "000" ? "ADMIN" : "BROADCAST" }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-box">
    <div *ngFor="let message of chatService.currentChat">
      <div
        class="chat-message"
        [ngClass]="{
          outgoing: message.IdMittente !== idAdmin,
          incoming: message.IdMittente === idAdmin
        }"
      >
        <div class="message">
          <div *ngIf="message.IdMessaggioRisposta != 0">
            <div class="answeredMessage">
              {{ findMessageById(message.IdMessaggioRisposta) }}
            </div>
            <hr />
          </div>
          <ion-button id="msg">{{ message.Testo }}</ion-button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="chatService.chatOpened != '999'" class="input-place">
    <input
      placeholder="Send a message."
      class="send-input"
      type="text"
      [(ngModel)]="textToSend"
    />
    <div class="send">
      <ion-button (click)="sendMessage()" color="secondary">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
