ion-card ion-button{
  --background: #3EC70B;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 0.5vh;
}
ion-card-title{
  font-size: 15pt;
}
ion-card-title ion-icon{
  transform: translateY(2.5pt);
}
.qrCode{
  width: 15vw;
  height: 5vh;
}
ion-header ion-button{
  --background: trasparent;
  // display: flex;
  // justify-content: flex-start;
  // align-items: flex-start;
  ion-icon{
    align-items: center;
  }
}