<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="onLogOut()"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <span>N° studenti nel gruppo: {{labsService.groupNumber}}</span>
  <ion-card  *ngFor="let item of labsService.labs" (click)="onClick(item.Nome,item.IdLaboratorio)" color="{{!item.OrarioEffettivoIngresso ? 'primary': 'secondary'}}" >
    
    <ion-card-header>
      <ion-card-title>{{item.Nome}}</ion-card-title>
      <!-- <ion-card-subtitle>Orario previsto di ingresso: {{item.OrarioPrevistoIngresso}}</ion-card-subtitle> -->
    </ion-card-header>
      <!-- <ion-button id="imHere" color="success" fill="outline" (click)="onClick($event)">Sono qui</ion-button>
      <ion-button class="qrCode" color="success" fill="outline" (click)="onScanning()"><ion-icon name="qr-code-outline"></ion-icon></ion-button> -->
  </ion-card>
</ion-content>
