<div class="containerChat">
  <div class="chat" (click)="openChat(111)">
    <div class="chat-header">
      <div class="chat-name">
        <h3>BROADCAST</h3>
      </div>
      <div class="chat-time">
        <p>SAMPLE TIME</p>
      </div>
    </div>
    <div class="chatBody">
      <div class="chat-message">
        <p class="text">SAMPLE TEXT</p>
      </div>
    </div>
  </div>
  @for(chat of chatService.chatList; track chat.Id) {
  <div class="chat" (click)="openChat(chat.Id)">
    <div class="chat-header">
      <div class="chat-name">
        <h3>{{ chat.Id }}</h3>
      </div>
      <div class="chat-time">
        <p>{{ chat.time }}</p>
      </div>
    </div>
    <div class="chatBody">
      <div class="chat-message">
        <p class="text">{{ chat.message }}</p>
      </div>
    </div>
  </div>
  } @if(chatService.chatList.length == 0) {
  <div>
    <h3>Non sono state rilevate chat disponibili</h3>
  </div>
  }
  <!-- sample data -->

  <!--
    <div class="chat" (click)="openChat(1)">
    <div class="chat-header">
      <div class="chat-name">
        <h3>Chat 1</h3>
      </div>
      <div class="chat-time">
        <p>12:00</p>
      </div>
    </div>
    <div class="chatBody">
      <div class="chat-message">
        <p class="text">Message 1</p>
      </div>
    </div>
  </div>

  <div class="chat" (click)="openChat(2)">
    <div class="chat-header">
      <div class="chat-name">
        <h3>Chat 2</h3>
      </div>
      <div class="chat-time">
        <p>15:00</p>
      </div>
    </div>
    <div class="chatBody">
      <div class="chat-message">
        <p class="text">Message 2</p>
      </div>
    </div>
  </div> -->
</div>
