<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="primary" *ngFor="let item of labsService.labs">
    <ion-card-header>
      <ion-card-title>{{item.Nome}}</ion-card-title>
    </ion-card-header>
    <ion-button id="imHere" color="success" fill="outline" (click)="onClick($event)">Sono qui</ion-button>
    <ion-button class="qrCode" color="success" fill="outline" (click)="onScanning()"><ion-icon name="qr-code-outline"></ion-icon></ion-button>
  </ion-card>
</ion-content>
