<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Vallaurilogo.png" alt="Logo" width="50" 
        height="30" class="d-inline-block align-text-top">
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/studenti" routerLinkActive="active">Studenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/home/gruppi" routerLinkActive="active">Gruppi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active">Chats</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="nav-item" style="width: 10%;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="Logout()">
            <div>
              Logout <i class='bx bx-exit'></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
</nav>

<router-outlet></router-outlet>
