/* You can add global styles to this file, and also import other style files */
.vallauri {
    background-color: rgb(85, 105, 246);
}

.vallauri:hover {
    background-color: rgb(85, 70, 246);
}

a {
    cursor: pointer;
}
