ion-input.custom {
  text-align: center;
  width: 100%;
}

h1{
  text-align: center;
  margin-top: 5vh;
  font-weight: bolder;
}
ion-img{
  background-image: url('../../../assets/icon/Testata_sx.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 25vh;
  margin-top: 8vh;
  margin-left: 24vw;
}

#text{
  font-size: 11pt;
  font-weight: 500;
  display: flex;
}

#text>ion-text{
  margin-top:22vh

}

#text i{
  color: #9999;
  font-weight: bold;
}

#text ion-icon{
  transform: translateY(5.5pt);
}

