<ion-grid>
  <ion-row>
    <ion-col>
      <ion-img src="../../../assets/icon/vallauriLogo.svg" ></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8" offset="2">
      <ion-text class="primary">
        <h1>Accedi</h1>
      </ion-text>
    </ion-col>
  </ion-row>
  <form [formGroup]="form">
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-input label="Codice" labelPlacement="floating" [counter]="true" maxlength="12" formControlName="code"></ion-input>
      </ion-col>
    </ion-row>
  </form>

  <ion-row>
    <ion-col size="8" offset="2">
      <ion-button style="width: 100%;" fill="outline" (click)="onLog()">Accedi</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="11" offset="1">
      <p id="text">
        <ion-text><ion-icon name="warning"></ion-icon></ion-text>
        <ion-text>Inserire il codice fornito dal prof.Abbate <i>(collegarsi alla rete scolastica)</i></ion-text>
      </p>
    </ion-col>
  </ion-row>
</ion-grid>


<!--TODO rework this page-->