<ion-header>
  <ion-toolbar>
    <ion-title>{{ chatService.groupId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-box">
    <div *ngFor="let message of chatService.currentChat">
      <div
        class="chat-message"
        [ngClass]="{
          outgoing: message.IdMittente !== idAdmin,
          incoming: message.IdMittente === idAdmin
        }"
      >
        <div class="message">
          <ion-button fill="clear" id="msg">
            {{ message.Testo }}
          </ion-button>
          <ion-popover trigger="msg">
            <ng-template>
              <ion-list>
                <ion-button> Rispondi </ion-button>
                <ion-button> Elimina </ion-button>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </div>
  </div>
  <div class="input-box">
    <ion-input
      type="text"
      placeholder="Scrivi il tuo messaggio..."
      [(ngModel)]="textToSend"
    ></ion-input>
    <ion-button>Invia</ion-button>
  </div>
</ion-content>
