<div>
    <!-- <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username"
                    required [(ngModel)]="loginService.loginObj.username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required
                    [(ngModel)]="loginService.loginObj.password">
            </div>

            <button type="submit" class="btn btn-primary vallauri" (click)="onSubmit()">Login</button>

        </div>
    </div> -->
    
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<!-- <span class="login100-form-title p-b-26">
						Bentornato
					</span> -->
					<span class="login100-form-title p-b-48">
                        <object data="../../assets/vallauriLogo.svg" type="image/svg+xml"></object>
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email">
						<span class="focus-input100" data-placeholder="Username" [(ngModel)]="loginService.loginObj.username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password" [(ngModel)]="loginService.loginObj.password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" (click)="onSubmit()">
								Login
							</button>
						</div>
					</div>

					<!-- <div class="text-center p-t-115">
						<span class="txt1">
							Don’t have an account?
						</span>

						<a class="txt2" href="#">
							Sign Up
						</a>
					</div> -->
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</div>
