@if(chatService.isChatOpen) {
<div class="chat-container">
  <header>
    <div class="chat-header">
      {{ chatService.chatOpen == "111" ? "Broadcast" : chatService.chatOpen }}
    </div>
  </header>
  <div class="chat-box">
    @for(message of chatService.currentChat; track message.Id) {
    <div
      class="chat-message"
      [ngClass]="{
        outgoing: message.IdMittente == idAdmin,
        incoming: message.IdMittente != idAdmin
      }"
    >
      <div class="message">
        @if(message.IdMessaggioRisposta) {
        <div class="message-answer">
          {{ findMessageById(message.IdMessaggioRisposta) }}
        </div>
        <hr />
        }
        <button
          (click)="textContentAnswer = message.Testo; answerToText = false"
          mat-button
          [mat-menu-trigger-for]="menu"
          id="msg"
        >
          {{ message.Testo }}
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            [attr.data-hidden]="message.Id"
            (click)="setAsAnswerMessage($event)"
          >
            Rispondi
          </button>
          <button mat-menu-item>Elimina</button>
        </mat-menu>
      </div>
    </div>
    }
    <!-- SAMPLE MESSAGES

      <div class="chat-message outgoing" (contextmenu)="checkRightClick($event)">
      <div class="message">Hey there! How can I help you?</div>
    </div>
    <div class="chat-message incoming" (contextmenu)="checkRightClick($event)">
      <div class="message">Hi! I have a question about your product.</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message incoming">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message incoming">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message incoming">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message incoming">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message incoming">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message incoming">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div>
    <div class="chat-message outgoing">
      <div class="message">Sure, feel free to ask!</div>
    </div> -->
  </div>
  @if(answerToText) {
  <div class="answer-box">
    <p id="answerText">{{ textContentAnswer }}</p>
    <button (click)="answerToText = false" class="close-button">X</button>
  </div>
  }
  <div class="input-box">
    <input
      type="text"
      placeholder="Scrivi il tuo messaggio..."
      [(ngModel)]="textToSend"
      (keyup.enter)="sendMessage()"
    />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
}
